<h2 class="page-header">Dashboard</h2>


 <h3>Welcome to your Dashboard.</h3>
<p>This is where you list the parts you have for sale or trade and also any parts you may be in the market for.</p>

 <h1>My Parts</h1>
<hr>

<ul class="Parts list-group">
  <li *ngFor="let part of parts">
    <span class="badge">{{part.vehicle}}  </span>  {{part.partDescription}}, {{part.forTrade}}, Price: ${{part.forSale}}
    <span class="pull-right">
      <button type="button" class="btn btn-xs btn-default">Edit</button>
      <button type="button" class="btn btn-xs btn-default">Del</button>
    </span>
  </li>
</ul>
<div id="container" class="panel">
  <h3>Add a part</h3>
  <form (submit)="onPartSubmit()">
    <div class="form-group">
      <label>Vehicle</label>
      <input type="text" [(ngModel)]="vehicle" name="vehicle" class="form-control">
    </div>
    <div class="form-group">
      <label>Part Description</label>
      <input type="text" [(ngModel)]="partDescription" name="partDescription" class="form-control">
    </div>
    <div class="form-group">
      <label>Cash Sale Price  $</label>
      <input type="number" [(ngModel)]="forSale" name="forSale" class="form-control">
      <label>For Trade</label>
      <input type="checkbox" [(ngModel)]="forTrade" name="forTrade" class="form-control" >
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form> 
</div>



