<div class="jumbotron text-center">
  <h1>Kevin's S10 Truck Parts Rendezvous</h1>
  <p class="lead">Welcome to THE BEST place to come and find or trade Chevy or GMC small body truck parts</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Engine Parts</h3>
    <p>This is the place to find and trade engine parts for Chevy, GMC, S10, S15, Sonoma, and Jimmy's</p>
  </div>
  <div class="col-md-4">
    <h3>Body Parts</h3>
    <p>Need body parts for your Chevy or Gmc trucks? Check Here!</p>
  </div>
  <div class="col-md-4">
    <h3>Interior & Miscellaneous Parts</h3>
    <p>Here is the place to go if you are looking for parts for your truck's interior or miscellaneous other parts</p>
  </div>
</div>
  